/* CSS Reset */

h1, h2, h3, h4, p { 
    margin: 0px;
    padding: 0px; 
}

body {
	margin: 0px;
	border: 0px;
	background: rgb(0,13,38);
    background: linear-gradient(0deg, rgba(0,13,38,1) 0%, rgba(4,16,77,1) 55%, rgba(48,96,148,1) 100%);
    font-family: 'Staatliches', serif;
      
}

*, *:before, *:after {
	box-sizing: inherit;
}

h1 {
    margin: 40px;
    margin-left: 100px;
    font-size: 45px;
}


.blue_box  {
    padding: 8px ; 
    background-color: #05668D;
    border-radius: 24px;
    list-style: none;
}


#sound_boards {
	text-align: center;
	margin: 0;
}


#slot_cont {
    margin: 8px;
    padding: 12px; 
    background-color: #FFFFF8;
    border-radius: 34px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    height: 350px;
}

.sand_box {
    margin: 8px;
    padding: 8px; 
    background-color: #f0f3bd;
    border-radius: 24px;
    list-style: none;
    width: 30%;
    height: 40%;
}

.sand_box img {
    padding: 0;
	width: 90%;
    height: 90%;
}



#sounds {
    margin: 8px;
    padding: 12px; 
    background-color: #FFFFF8;
    border-radius: 34px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.green_box {
    margin: 8px;
    padding: 8px;
    background-color: none;
    display: flex;
    border-radius: 24px;
    list-style: none;
    cursor: pointer;
}





